.gallery-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 80%;
  margin: 30px auto 30px auto;
}
.gallery-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 3px;
}
.gallery-description {
  padding: 3px;
}
.gallery-image {
  max-height: 200px;
}
