.header {
  align-items: stretch;
  color: white;
  display: flex;
  background: #000000;
  background: -webkit-linear-gradient(to left, #0f980f, #003c00);
  background: linear-gradient(to left, #0f980f, #003c00);
  /*height: 400px;*/
  justify-content: space-between;
  padding: 0 40px 0 40px;
  /*text-align: right;*/
}
.vegies {
  width: 100%;
  opacity: 0.8;
}
.header-left {
  align-items: center;
  display: flex;
  padding: 20px 0;
}
.header-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.header-titles {
  text-align: center;
}
.sign-in {
  display: flex;
  justify-content: flex-end;
}
