.header {
  align-items: stretch;
  background: #000000;
  background: -webkit-linear-gradient(to left, #0f980f, #003c00);
  background: linear-gradient(to left, #0f980f, #003c00);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.header-left {
  align-items: center;
  display: flex;
  padding: 20px 0;
}
.header-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.header-titles {
  text-align: center;
}
