.menu-item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  max-width: 80%;
  margin: auto;
}
.menu-item-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 3px;
}
.menu-item-description {
  padding: 3px;
}
