.menu-edit-item {
  background-color: rgb(240, 250, 250);
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  width: 70%;
}
.menu-edit-item-left {
  background-color: transparent;
  width: 500px;
}
.title-input {
  background-color: transparent;
  font-size: 1.1em;
  font-weight: bold;
  width: 485px;
}
.description-input {
  background-color: transparent;
  width: 485px;
}
.menu-edit-item-right {
  background-color: transparent;
  width: 130px;
}
.price-input {
  background-color: transparent;
  width: 125px;
}
