.nav-ul {
  display: flex;
  flex-flow: row wrap;
  font-size: 22px;
  justify-content: space-around;
  list-style-type: none;
}
.nav-ul li {
  margin: 5px 5px;
}
.nav-ul li:hover {
  text-decoration: underline;
}
